In [2]:
import findspark
findspark.init()

Creating a Spark Session

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.config("spark.serializer", "org.apache.spark.serializer.KryoSerializer").getOrCreate()

Creating Dataframes

In [5]:
import pyspark.sql.functions as F
from pyspark.sql.types import *

In [6]:
schema = StructType([ \
    StructField("user_id", StringType(), True), \
    StructField("country", StringType(), True), \
    StructField("browser", StringType(), True), \
    StructField("OS", StringType(), True), \
    StructField("age", IntegerType(), True) \
    ])

In [7]:
data2 = [("A203",'India',"Chrome","WIN", 33),
         ("A201",'China',"Safari","MacOS",35),
         ("A205",'UK',"Mozilla","Linux",25)]

In [8]:
df = spark.createDataFrame(data=data2,schema=schema)

In [9]:
df.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- country: string (nullable = true)
 |-- browser: string (nullable = true)
 |-- OS: string (nullable = true)
 |-- age: integer (nullable = true)

In [10]:
df.show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A203|  India| Chrome|  WIN| 33|
|   A201|  China| Safari|MacOS| 35|
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

Null Values

In Spark, we can deal with null values by either replacing them with some specific value or dropping the rows/columns containing null values

In [11]:
df_na = spark.createDataFrame([("A203",None,"Chrome","WIN",33),
                               ("A201",'China',None,"MacOS",35),
                               ("A205",'UK',"Mozilla", "Linux",25)],schema=schema)

In [12]:
df_na.show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A203|   null| Chrome|  WIN| 33|
|   A201|  China|   null|MacOS| 35|
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [13]:
df_na.fillna('0').show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A203|      0| Chrome|  WIN| 33|
|   A201|  China|      0|MacOS| 35|
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [14]:
df_na.fillna({'country':'USA', 'browser':'Safari'}).show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A203|    USA| Chrome|  WIN| 33|
|   A201|  China| Safari|MacOS| 35|
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [15]:
df_na.na.drop().show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [16]:
df_na.na.drop(subset="country").show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A201|  China|   null|MacOS| 35|
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [17]:
df_na.replace("Chrome", "Google Chrome").show()

+-------+-------+-------------+-----+---+
|user_id|country|      browser|   OS|age|
+-------+-------+-------------+-----+---+
|   A203|   null|Google Chrome|  WIN| 33|
|   A201|  China|         null|MacOS| 35|
|   A205|     UK|      Mozilla|Linux| 25|
+-------+-------+-------------+-----+---+

In [18]:
df_na.drop("user_id").show()

+-------+-------+-----+---+
|country|browser|   OS|age|
+-------+-------+-----+---+
|   null| Chrome|  WIN| 33|
|  China|   null|MacOS| 35|
|     UK|Mozilla|Linux| 25|
+-------+-------+-----+---+

In [19]:
df=spark.read.options(delimiter=',', inferSchema='True', header='True').csv("data/Invistico_Airline.csv")

In [20]:
df.count()

129880

In [21]:
len(df.columns)

23

In [22]:
df.printSchema()

root
 |-- satisfaction: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Customer Type: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Type of Travel: string (nullable = true)
 |-- Class: string (nullable = true)
 |-- Flight Distance: integer (nullable = true)
 |-- Seat comfort: integer (nullable = true)
 |-- Departure/Arrival time convenient: integer (nullable = true)
 |-- Food and drink: integer (nullable = true)
 |-- Gate location: integer (nullable = true)
 |-- Inflight wifi service: integer (nullable = true)
 |-- Inflight entertainment: integer (nullable = true)
 |-- Online support: integer (nullable = true)
 |-- Ease of Online booking: integer (nullable = true)
 |-- On-board service: integer (nullable = true)
 |-- Leg room service: integer (nullable = true)
 |-- Baggage handling: integer (nullable = true)
 |-- Checkin service: integer (nullable = true)
 |-- Cleanliness: integer (nullable = true)
 |-- Online boarding: integer (nullable = true)
 |-- Departure Delay in Minutes: integer (nullable = true)
 |-- Arrival Delay in Minutes: integer (nullable = true)

In [23]:
df.show(3)

+------------+------+--------------+---+---------------+--------+---------------+------------+---------------------------------+--------------+-------------+---------------------+----------------------+--------------+----------------------+----------------+----------------+----------------+---------------+-----------+---------------+--------------------------+------------------------+
|satisfaction|Gender| Customer Type|Age| Type of Travel|   Class|Flight Distance|Seat comfort|Departure/Arrival time convenient|Food and drink|Gate location|Inflight wifi service|Inflight entertainment|Online support|Ease of Online booking|On-board service|Leg room service|Baggage handling|Checkin service|Cleanliness|Online boarding|Departure Delay in Minutes|Arrival Delay in Minutes|
+------------+------+--------------+---+---------------+--------+---------------+------------+---------------------------------+--------------+-------------+---------------------+----------------------+--------------+----------------------+----------------+----------------+----------------+---------------+-----------+---------------+--------------------------+------------------------+
|   satisfied|Female|Loyal Customer| 65|Personal Travel|     Eco|            265|           0|                                0|             0|            2|                    2|                     4|             2|                     3|               3|               0|               3|              5|          3|              2|                         0|                       0|
|   satisfied|  Male|Loyal Customer| 47|Personal Travel|Business|           2464|           0|                                0|             0|            3|                    0|                     2|             2|                     3|               4|               4|               4|              2|          3|              2|                       310|                     305|
|   satisfied|Female|Loyal Customer| 15|Personal Travel|     Eco|           2138|           0|                                0|             0|            3|                    2|                     0|             2|                     2|               3|               3|               4|              4|          4|              2|                         0|                       0|
+------------+------+--------------+---+---------------+--------+---------------+------------+---------------------------------+--------------+-------------+---------------------+----------------------+--------------+----------------------+----------------+----------------+----------------+---------------+-----------+---------------+--------------------------+------------------------+
only showing top 3 rows

In [24]:
df.summary().show()

+-------+------------+------+-----------------+------------------+---------------+--------+-----------------+-----------------+---------------------------------+------------------+------------------+---------------------+----------------------+------------------+----------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------------+------------------------+
|summary|satisfaction|Gender|    Customer Type|               Age| Type of Travel|   Class|  Flight Distance|     Seat comfort|Departure/Arrival time convenient|    Food and drink|     Gate location|Inflight wifi service|Inflight entertainment|    Online support|Ease of Online booking|  On-board service|  Leg room service| Baggage handling|   Checkin service|       Cleanliness|   Online boarding|Departure Delay in Minutes|Arrival Delay in Minutes|
+-------+------------+------+-----------------+------------------+---------------+--------+-----------------+-----------------+---------------------------------+------------------+------------------+---------------------+----------------------+------------------+----------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------------+------------------------+
|  count|      129880|129880|           129880|            129880|         129880|  129880|           129880|           129880|                           129880|            129880|            129880|               129880|                129880|            129880|                129880|            129880|            129880|           129880|            129880|            129880|            129880|                    129880|                  129487|
|   mean|        null|  null|             null| 39.42795657530028|           null|    null|1981.409054511857|2.838597166615337|                2.990645210963967| 2.851994148444718| 2.990421927933477|   3.2491299661225748|    3.3834770557437635| 3.519702802587003|    3.4721050200184784| 3.465075454265476| 3.485902371419772|3.695672928857407|3.3408068986757007|3.7057591623036648|3.3525870033877427|        14.713712657838004|       15.09112883918849|
| stddev|        null|  null|             null|15.119359950371694|           null|    null|1027.115605613396|1.392983243269908|               1.5272243703451154|1.4437293865730398|1.3059698939850481|   1.3188175196680627|    1.3460591444981043|1.3065106903517547|     1.305559648028587|1.2708355823355144|1.2922259830022584|1.156483396739701| 1.260582284954589|1.1517739117986914|1.2987145021407451|         38.07112621503648|       38.46565024011906|
|    min|dissatisfied|Female|   Loyal Customer|                 7|Business travel|Business|               50|                0|                                0|                 0|                 0|                    0|                     0|                 0|                     0|                 0|                 0|                1|                 0|                 0|                 0|                         0|                       0|
|    25%|        null|  null|             null|                27|           null|    null|             1359|                2|                                2|                 2|                 2|                    2|                     2|                 3|                     2|                 3|                 2|                3|                 3|                 3|                 2|                         0|                       0|
|    50%|        null|  null|             null|                40|           null|    null|             1925|                3|                                3|                 3|                 3|                    3|                     4|                 4|                     4|                 4|                 4|                4|                 3|                 4|                 4|                         0|                       0|
|    75%|        null|  null|             null|                51|           null|    null|             2543|                4|                                4|                 4|                 4|                    4|                     4|                 5|                     5|                 4|                 5|                5|                 4|                 5|                 4|                        12|                      13|
|    max|   satisfied|  Male|disloyal Customer|                85|Personal Travel|Eco Plus|             6951|                5|                                5|                 5|                 5|                    5|                     5|                 5|                     5|                 5|                 5|                5|                 5|                 5|                 5|                      1592|                    1584|
+-------+------------+------+-----------------+------------------+---------------+--------+-----------------+-----------------+---------------------------------+------------------+------------------+---------------------+----------------------+------------------+----------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------------+------------------------+

Subset of a Dataframe
A subset of a dataframe can be created, based on multiple conditions in which we either select a few rows, columns, or data with certain filters in place.
• Select
• Filter
• Where

Select

In [27]:
df.select(['satisfaction','Class', 'Gender']).show()

+------------+--------+------+
|satisfaction|   Class|Gender|
+------------+--------+------+
|   satisfied|     Eco|Female|
|   satisfied|Business|  Male|
|   satisfied|     Eco|Female|
|   satisfied|     Eco|Female|
|   satisfied|     Eco|Female|
|   satisfied|     Eco|  Male|
|   satisfied|     Eco|Female|
|   satisfied|     Eco|  Male|
|   satisfied|Business|Female|
|   satisfied|     Eco|  Male|
|   satisfied|     Eco|Female|
|   satisfied|     Eco|Female|
|   satisfied|     Eco|  Male|
|   satisfied|     Eco|  Male|
|   satisfied|     Eco|Female|
|   satisfied|     Eco|  Male|
|   satisfied|     Eco|Female|
|   satisfied|Business|Female|
|   satisfied|     Eco|Female|
|   satisfied|     Eco|Female|
+------------+--------+------+
only showing top 20 rows

In [28]:
df.filter(df['Age'] > 60).count()

10054

In [29]:
df.filter(df['Age'] > 60).show()

+------------+------+--------------+---+---------------+--------+---------------+------------+---------------------------------+--------------+-------------+---------------------+----------------------+--------------+----------------------+----------------+----------------+----------------+---------------+-----------+---------------+--------------------------+------------------------+
|satisfaction|Gender| Customer Type|Age| Type of Travel|   Class|Flight Distance|Seat comfort|Departure/Arrival time convenient|Food and drink|Gate location|Inflight wifi service|Inflight entertainment|Online support|Ease of Online booking|On-board service|Leg room service|Baggage handling|Checkin service|Cleanliness|Online boarding|Departure Delay in Minutes|Arrival Delay in Minutes|
+------------+------+--------------+---+---------------+--------+---------------+------------+---------------------------------+--------------+-------------+---------------------+----------------------+--------------+----------------------+----------------+----------------+----------------+---------------+-----------+---------------+--------------------------+------------------------+
|   satisfied|Female|Loyal Customer| 65|Personal Travel|     Eco|            265|           0|                                0|             0|            2|                    2|                     4|             2|                     3|               3|               0|               3|              5|          3|              2|                         0|                       0|
|   satisfied|Female|Loyal Customer| 70|Personal Travel|     Eco|            354|           0|                                0|             0|            3|                    4|                     3|             4|                     2|               2|               0|               2|              4|          2|              5|                         0|                       0|
|   satisfied|Female|Loyal Customer| 66|Personal Travel|     Eco|            227|           0|                                0|             0|            3|                    2|                     5|             5|                     5|               5|               0|               5|              5|          5|              3|                        17|                      15|
|   satisfied|  Male|Loyal Customer| 62|Personal Travel|     Eco|           1695|           0|                                0|             0|            4|                    5|                     0|             5|                     5|               1|               3|               2|              2|          4|              5|                         0|                       0|
|   satisfied|  Male|Loyal Customer| 64|Personal Travel|     Eco|           1707|           0|                                1|             0|            2|                    5|                     0|             3|                     5|               4|               4|               2|              3|          2|              5|                         0|                       0|
|   satisfied|  Male|Loyal Customer| 62|Personal Travel|Eco Plus|           2948|           0|                                1|             0|            3|                    5|                     0|             5|                     5|               4|               1|               2|              2|          2|              5|                        34|                      19|
|   satisfied|Female|Loyal Customer| 65|Personal Travel|     Eco|            423|           0|                                1|             0|            3|                    4|                     4|             3|                     2|               2|               0|               1|              3|          2|              4|                         0|                       0|
|   satisfied|  Male|Loyal Customer| 70|Personal Travel|     Eco|           1650|           0|                                1|             0|            4|                    4|                     0|             4|                     4|               1|               4|               4|              4|          4|              4|                        19|                      45|
|   satisfied|Female|Loyal Customer| 67|Personal Travel|     Eco|            465|           0|                                1|             0|            4|                    2|                     3|             4|                     4|               4|               0|               2|              1|          4|              3|                        35|                      69|
|   satisfied|  Male|Loyal Customer| 69|Personal Travel|     Eco|           1428|           0|                                1|             0|            4|                    4|                     0|             4|                     4|               4|               4|               3|              2|          3|              4|                         0|                       0|
|   satisfied|  Male|Loyal Customer| 64|Personal Travel|     Eco|           2141|           0|                                2|             0|            2|                    4|                     0|             2|                     4|               2|               2|               3|              2|          2|              4|                         6|                       1|
|   satisfied|Female|Loyal Customer| 64|Personal Travel|     Eco|           2441|           0|                                2|             0|            3|                    0|                     3|             3|                     1|               2|               4|               4|              3|          2|              3|                         0|                       0|
|   satisfied|  Male|Loyal Customer| 67|Personal Travel|     Eco|           2532|           0|                                2|             0|            3|                    2|                     0|             2|                     2|               4|               3|               3|              3|          4|              2|                         0|                       0|
|   satisfied|Female|Loyal Customer| 63|Personal Travel|     Eco|           1109|           0|                                2|             0|            3|                    3|                     3|             3|                     4|               4|               0|               4|              1|          4|              1|                         0|                       0|
|   satisfied|  Male|Loyal Customer| 70|Personal Travel|     Eco|           1686|           0|                                2|             0|            3|                    1|                     0|             1|                     1|               3|               1|               2|              3|          2|              1|                         0|                       0|
|   satisfied|  Male|Loyal Customer| 65|Personal Travel|Business|            651|           0|                                2|             0|            3|                    3|                     4|             4|                     3|               3|               0|               3|              1|          3|              2|                         0|                       0|
|   satisfied|Female|Loyal Customer| 65|Personal Travel|     Eco|            614|           0|                                2|             0|            3|                    4|                     5|             5|                     2|               2|               0|               2|              4|          2|              3|                        90|                      80|
|   satisfied|Female|Loyal Customer| 64|Personal Travel|     Eco|            419|           0|                                2|             0|            3|                    3|                     4|             3|                     1|               1|               0|               1|              3|          1|              1|                         0|                       0|
|   satisfied|  Male|Loyal Customer| 61|Personal Travel|     Eco|           1119|           0|                                2|             0|            3|                    3|                     0|             3|                     3|               2|               1|               4|              3|          4|              3|                         2|                       0|
|   satisfied|Female|Loyal Customer| 61|Personal Travel|     Eco|            291|           0|                                2|             0|            3|                    1|                     3|             4|                     2|               2|               0|               2|              1|          2|              1|                         0|                       2|
+------------+------+--------------+---+---------------+--------+---------------+------------+---------------------------------+--------------+-------------+---------------------+----------------------+--------------+----------------------+----------------+----------------+----------------+---------------+-----------+---------------+--------------------------+------------------------+
only showing top 20 rows

Filter
We can also apply more than one filter on the dataframe, by including more conditions.

In [31]:
df.filter(df['Age'] > 50).filter(df['Gender'] == 'Male').count()

16721

Where

In [33]:
df.where((df['Age'] > 55) & (df['Class'] == 'Eco')).count()

10252

Aggregations
Any kind of aggregation can be broken simply into three stages, in the following order:
• Split
• Apply
• Combine

The first step is to split the data, based on a column or group of columns, followed by performing the operation on those small individual groups (count, max, avg, etc.). Once the results are in for each set of groups, the last step is to combine all these results.

In [34]:
 df.groupBy('Gender').count().show()

+------+-----+
|Gender|count|
+------+-----+
|Female|65899|
|  Male|63981|
+------+-----+

In [36]:
for col in df.columns:
    if col !='Age':
        print(f" Aggregation for {col}")
df.groupBy(col).count().orderBy('count',ascending= False).show(truncate=False)

 Aggregation for satisfaction
 Aggregation for Gender
 Aggregation for Customer Type
 Aggregation for Type of Travel
 Aggregation for Class
 Aggregation for Flight Distance
 Aggregation for Seat comfort
 Aggregation for Departure/Arrival time convenient
 Aggregation for Food and drink
 Aggregation for Gate location
 Aggregation for Inflight wifi service
 Aggregation for Inflight entertainment
 Aggregation for Online support
 Aggregation for Ease of Online booking
 Aggregation for On-board service
 Aggregation for Leg room service
 Aggregation for Baggage handling
 Aggregation for Checkin service
 Aggregation for Cleanliness
 Aggregation for Online boarding
 Aggregation for Departure Delay in Minutes
 Aggregation for Arrival Delay in Minutes
+------------------------+-----+
|Arrival Delay in Minutes|count|
+------------------------+-----+
|0                       |72753|
|1                       |2747 |
|2                       |2587 |
|3                       |2442 |
|4                       |2373 |
|5                       |2083 |
|6                       |2021 |
|7                       |1794 |
|8                       |1751 |
|9                       |1566 |
|10                      |1466 |
|11                      |1438 |
|12                      |1359 |
|13                      |1340 |
|14                      |1159 |
|15                      |1050 |
|17                      |1042 |
|16                      |1037 |
|18                      |938  |
|19                      |884  |
+------------------------+-----+
only showing top 20 rows

We can have different kinds of operations on groups of records, such as:
• Mean
• Max
• Min
• Sum

In [37]:
df.groupBy('Class').agg(F.mean('Age')).show()

+--------+-----------------+
|   Class|         avg(Age)|
+--------+-----------------+
|Eco Plus|38.72893422590585|
|Business|41.61727799227799|
|     Eco|37.20686343446123|
+--------+-----------------+

In [39]:
df.groupBy('Class').agg(F.max('Age')).show()

+--------+--------+
|   Class|max(Age)|
+--------+--------+
|Eco Plus|      85|
|Business|      85|
|     Eco|      85|
+--------+--------+

In [40]:
df.groupBy('Customer Type').agg(F.min('Age')).show()

+-----------------+--------+
|    Customer Type|min(Age)|
+-----------------+--------+
|   Loyal Customer|       7|
|disloyal Customer|       7|
+-----------------+--------+

In [41]:
df.groupBy('Customer Type').agg(F.sum('Flight Distance')).show()

+-----------------+--------------------+
|    Customer Type|sum(Flight Distance)|
+-----------------+--------------------+
|   Loyal Customer|           209250457|
|disloyal Customer|            48094951|
+-----------------+--------------------+

In [42]:
df.sort("Age", ascending=False).show()

+------------+------+-----------------+---+---------------+--------+---------------+------------+---------------------------------+--------------+-------------+---------------------+----------------------+--------------+----------------------+----------------+----------------+----------------+---------------+-----------+---------------+--------------------------+------------------------+
|satisfaction|Gender|    Customer Type|Age| Type of Travel|   Class|Flight Distance|Seat comfort|Departure/Arrival time convenient|Food and drink|Gate location|Inflight wifi service|Inflight entertainment|Online support|Ease of Online booking|On-board service|Leg room service|Baggage handling|Checkin service|Cleanliness|Online boarding|Departure Delay in Minutes|Arrival Delay in Minutes|
+------------+------+-----------------+---+---------------+--------+---------------+------------+---------------------------------+--------------+-------------+---------------------+----------------------+--------------+----------------------+----------------+----------------+----------------+---------------+-----------+---------------+--------------------------+------------------------+
|dissatisfied|Female|disloyal Customer| 85|Business travel|Business|           2057|           2|                                2|             2|            3|                    2|                     3|             3|                     1|               2|               2|               2|              3|          2|              3|                         0|                       0|
|dissatisfied|Female|   Loyal Customer| 85|Business travel|Business|           2052|           2|                                3|             3|            3|                    4|                     2|             4|                     3|               5|               4|               4|              4|          1|              4|                        17|                      11|
|dissatisfied|Female|disloyal Customer| 85|Business travel|Business|           2837|           1|                                1|             1|            2|                    1|                     5|             5|                     4|               2|               1|               1|              5|          1|              5|                        57|                      51|
|dissatisfied|Female|   Loyal Customer| 85|Business travel|Business|           5022|           3|                                5|             5|            5|                    4|                     3|             3|                     3|               1|               4|               4|              3|          3|              3|                         0|                       0|
|dissatisfied|Female|disloyal Customer| 85|Business travel|Business|           2565|           2|                                2|             2|            3|                    2|                     2|             5|                     2|               4|               3|               1|              5|          2|              5|                         0|                       0|
|   satisfied|Female|   Loyal Customer| 85|Business travel|Business|           2007|           2|                                2|             4|            2|                    4|                     3|             4|                     5|               5|               3|               4|              4|          4|              4|                         0|                       0|
|dissatisfied|Female|disloyal Customer| 85|Business travel|Business|           2865|           2|                                2|             2|            4|                    2|                     3|             3|                     2|               3|               4|               4|              3|          3|              3|                         0|                       0|
|   satisfied|Female|   Loyal Customer| 85|Business travel|Business|           2182|           1|                                1|             1|            1|                    4|                     4|             4|                     5|               5|               4|               5|              4|          5|              4|                         0|                       0|
|dissatisfied|Female|disloyal Customer| 85|Business travel|     Eco|           2309|           3|                                2|             3|            3|                    3|                     3|             3|                     3|               1|               2|               2|              3|          1|              3|                         0|                       0|
|dissatisfied|Female|   Loyal Customer| 85|Business travel|Eco Plus|           1674|           4|                                4|             4|            4|                    4|                     4|             4|                     2|               1|               3|               4|              4|          1|              4|                         3|                       0|
|dissatisfied|Female|disloyal Customer| 85|Business travel|Business|           2507|           3|                                3|             3|            4|                    3|                     1|             1|                     3|               1|               3|               3|              1|          2|              1|                        58|                      59|
|   satisfied|Female|   Loyal Customer| 85|Business travel|Business|           4630|           1|                                3|             1|            1|                    5|                     3|             5|                     5|               5|               5|               1|              5|          5|              5|                         0|                       0|
|dissatisfied|  Male|disloyal Customer| 85|Business travel|Business|           3072|           3|                                3|             3|            4|                    3|                     5|             5|                     3|               4|               3|               3|              5|          1|              5|                         0|                       7|
|   satisfied|  Male|   Loyal Customer| 85|Business travel|Business|           3615|           1|                                1|             5|            1|                    5|                     4|             4|                     3|               4|               5|               5|              4|          4|              4|                        82|                      76|
|dissatisfied|  Male|disloyal Customer| 85|Business travel|Business|           2329|           3|                                4|             4|            4|                    3|                     3|             3|                     4|               5|               4|               4|              3|          4|              3|                         8|                       1|
|   satisfied|Female|   Loyal Customer| 85|Business travel|Business|           2918|           4|                                4|             4|            4|                    5|                     5|             5|                     2|               4|               4|               4|              5|          2|              5|                         0|                       5|
|   satisfied|Female|disloyal Customer| 85|Business travel|Business|           1965|           4|                                4|             4|            3|                    4|                     4|             4|                     2|               1|               5|               4|              4|          4|              4|                         0|                       0|
|dissatisfied|  Male|disloyal Customer| 85|Business travel|     Eco|           2460|           4|                                5|             5|            4|                    5|                     4|             4|                     2|               2|               4|               3|              4|          1|              4|                         0|                       9|
|dissatisfied|  Male|   Loyal Customer| 85|Business travel|Eco Plus|           1961|           1|                                3|             3|            3|                    1|                     1|             1|                     2|               5|               4|               3|              1|          4|              1|                         0|                       8|
|dissatisfied|  Male|   Loyal Customer| 85|Business travel|     Eco|           1814|           2|                                5|             5|            5|                    2|                     2|             2|                     4|               1|               3|               3|              2|          2|              2|                        65|                      73|
+------------+------+-----------------+---+---------------+--------+---------------+------------+---------------------------------+--------------+-------------+---------------------+----------------------+--------------+----------------------+----------------+----------------+----------------+---------------+-----------+---------------+--------------------------+------------------------+
only showing top 20 rows

In [44]:
df.groupBy('Customer Type').agg(F.avg('Age').alias('avg_age')).orderBy('avg_age',ascending=False).show(truncate=False)

+-----------------+-----------------+
|Customer Type    |avg_age          |
+-----------------+-----------------+
|Loyal Customer   |41.46200754005655|
|disloyal Customer|30.35256518082422|
+-----------------+-----------------+

In [45]:
df.groupBy('Class').agg(F.max('Flight Distance').alias('max_fl_distance')).orderBy('max_fl_distance',ascending=False).show()

+--------+---------------+
|   Class|max_fl_distance|
+--------+---------------+
|Business|           6951|
|     Eco|           6924|
|Eco Plus|           6889|
+--------+---------------+

Collect
Collect list provides all the values in the original order of occurrence (they can be reversed as well), and collect set provides only the unique values

In [48]:
df.groupby("Customer Type", "Class").agg(F.collect_set("Online boarding")).show()

+-----------------+--------+----------------------------+
|    Customer Type|   Class|collect_set(Online boarding)|
+-----------------+--------+----------------------------+
|   Loyal Customer|Business|          [0, 1, 2, 3, 4, 5]|
|   Loyal Customer|     Eco|          [0, 1, 2, 3, 4, 5]|
|disloyal Customer|Eco Plus|             [1, 2, 3, 4, 5]|
|   Loyal Customer|Eco Plus|          [0, 1, 2, 3, 4, 5]|
|disloyal Customer|     Eco|             [1, 2, 3, 4, 5]|
|disloyal Customer|Business|             [1, 2, 3, 4, 5]|
+-----------------+--------+----------------------------+

In [49]:
df.groupby("Customer Type", "Class").agg(F.collect_list("Online boarding")).show()

+-----------------+--------+-----------------------------+
|    Customer Type|   Class|collect_list(Online boarding)|
+-----------------+--------+-----------------------------+
|   Loyal Customer|Business|         [2, 4, 3, 1, 2, 3...|
|   Loyal Customer|     Eco|         [2, 2, 3, 5, 2, 3...|
|disloyal Customer|Eco Plus|         [3, 5, 4, 2, 5, 4...|
|   Loyal Customer|Eco Plus|         [2, 5, 5, 1, 2, 5...|
|disloyal Customer|     Eco|         [4, 2, 2, 2, 1, 4...|
|disloyal Customer|Business|         [1, 4, 5, 5, 5, 2...|
+-----------------+--------+-----------------------------+

The need to create a new column with a constant value can be very common. Therefore, we can do that in PySpark, using the 'lit' function.

In [50]:
df=df.withColumn('constant',F.lit('resolved'))

In [51]:
 df.select('Customer Type', 'Gender', 'constant').show()

+--------------+------+--------+
| Customer Type|Gender|constant|
+--------------+------+--------+
|Loyal Customer|Female|resolved|
|Loyal Customer|  Male|resolved|
|Loyal Customer|Female|resolved|
|Loyal Customer|Female|resolved|
|Loyal Customer|Female|resolved|
|Loyal Customer|  Male|resolved|
|Loyal Customer|Female|resolved|
|Loyal Customer|  Male|resolved|
|Loyal Customer|Female|resolved|
|Loyal Customer|  Male|resolved|
|Loyal Customer|Female|resolved|
|Loyal Customer|Female|resolved|
|Loyal Customer|  Male|resolved|
|Loyal Customer|  Male|resolved|
|Loyal Customer|Female|resolved|
|Loyal Customer|  Male|resolved|
|Loyal Customer|Female|resolved|
|Loyal Customer|Female|resolved|
|Loyal Customer|Female|resolved|
|Loyal Customer|Female|resolved|
+--------------+------+--------+
only showing top 20 rows